@media(max-width:1024px) {

    .content-box2 h2,
    h3 {
        font-size: 30px;
    }

    .row-box {

        border: 1px solid #a89e9e;
        height: auto;
    }

}




@media (min-width:768px) and (max-width:991px) {
    .imgb3 {
        height: 468px;
    }

    .content-box2 h2,
    h3 {
        font-size: 25px;
    }

    .content-box2 p {
        font-size: 14px;
        line-height: 24px;
        padding-top: 5px;
    }

    .row-box {
        background-color: #ffffff;
        border: 1px solid #a89e9e;
        height: auto;
    }






    .copy h6 {
        padding-top: 27px;
    }

    .copy h6 {
        text-align: center;
    }

}

@media (min-width:481px) and (max-width:767px) {


    .container,
    .container-sm {
        max-width: 90%;
    }

    .golf-box {
        width: 50%;
        left: 25%;
    }

    .golf-box h4 {
        font-size: 25px;
    }

    .row-box {

        background-color: #ffffff;
        border: 1px solid #a89e9e;
        height: auto;

    }








    .copy h6 {

        text-align: center;
    }

    .icon {
        float: none;
        text-align: center;
    }
}

@media (max-width:480px) {
    #banner {
        height: 70vh;
    }

    .content-box h1 {
        font-size: 30px !important;
    }

    .content-box p {
        font-size: 12px;
        color: #fff;
        margin-top: 12px;
        line-height: 21px;
    }

    .imgb3 {

        height: 300px;
    }

    .content-box button {
        width: 150px;
        height: 35px;
        margin-top: 0px;
        font-size: 13px;
    }

    .content-box2 h2,
    h3 {
        padding: 15px;
        font-size: 30px;
        padding-top: 22px;
    }

    .content-box2 p {
        padding: 0px 15px;
        font-size: 16px;
    }

    #golf {
        height: 300px;
    }

    .golf-box h5 {
        font-size: 18px;
        margin-top: 10px;
    }

    .golf-box h4 {
        font-size: 20px;
        font-weight: 800;
        margin-top: 17px;
    }

    .golf-box button {
        width: 75%;
        height: 35px;
        margin-top: 20px;
    }

    #offer-layout {
        padding: 70px 0 70px 0;

    }

    #meet {
        /* padding: 30px 0; */
        height: auto;
    }


    .box button {
        width: 100%;
    }

    .box input {
        width: 100%;
    }

    .box {
        margin: auto;
    }



    .icon {
        float: none;
        text-align: center;
    }

    .copy h6 {
        text-align: center;
        /* margin-right: 23px; */
    }

    .golf-box {
        width: 50%;
        left: 25%;
    }

    .row-box {
        background-color: #ffffff;
        border: 1px solid #a89e9e;

    }
}

@media (max-width:360px) {
    .brand-font{
        font-size: 20px !important;
    }
}